<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Conditional Statements](#cond)**
2. **[Python Flow Control](#flow_control)**
3. **[List Comprehension](#lc)**

<a id="cond"> </a>
## 1. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
num = float(input('enter a number: '))
if num%7==0:
    print(num,'is a multiple of 7.')
else:
    print(num,'is not a multiple of 7. ')

enter a number: 15
15.0 is not a multiple of 7.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
a = float(input('enter 1st number:'))
b = float(input('enter 2nd number:'))
if a > b:
    print(a,'max than ',b)
elif a==b:
    print('not a valid comparison')
else:
    print(a,'max than ',b)

enter a number:15
enter a number:1
15 max than  1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
a = float(input('enter a number:'))
if a>0:
    print(a,' is a positive number.')
elif a<0:
    print(a,'is a negative number ')
else:
    print(a,'is equal to zero')

enter a number:-123.3
-123.3 is a negative number

### Let's begin with some hands-on practice exercises

<a id= "flow_control"> </a>
## 2. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
a=0
for i in range(1,11):
    a +=5
    print((i,a))

(1, 5)
(2, 10)
(3, 15)
(4, 20)
(5, 25)
(6, 30)
(7, 35)
(8, 40)
(9, 45)
(10, 50)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
a = 0
b = 1
fib = [a, b]
i=1
while i < 11:
    c = a + b
    a = b
    b = c
    i +=1
    fib.append(b)
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
a = float(input('enter a number:'))
b = float(input('enter a number:'))
if a>b:
    print(a,' is greater than ',b)
else:
    print(a,'is less than',b)

enter a number:15
enter a number:5
15.0  is greater than  5.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a code to check whether a number is divisible by 7 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
a = float(input('enter a number:'))
if a%7==0:
    print(a,'is divisible by 7.')
else:
    print(a,'is not divisible by 7')

enter a number:70
70.0 is divisible by 7.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
import math 
a = int(input('enter a number : '))
if a==0:
    print('factorail of 0 is',1)
elif a<0:
    print('factorail of negativ number is not possible ')
else:    
    print('factorial of ',a, ' is ', math.factorial(a))

enter a number : 5
factorial of  5  is  120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
n = int(input('enter a number : '))
flg = 0
i = 2
while n>i:
    if n%i==0:
        flg=1
    i+=1
if flg==0:
    print(n,'is prime')
else:
    print(n,'is not prime')

enter a number : 51
51 is not prime

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
num1 = int(input('enter a number : '))
num2 = int(input('enter a number : '))
sum_factors_num1=0
sum_factors_num2=0
for i in range(1,num1):
    if num1%i==0:
        sum_factors_num1+=i
for j in range(1,num2):
    if num2%j==0:
        sum_factors_num2+=j
if(sum_factors_num1==num2 and sum_factors_num2==num1):
    print('the number ',num1,'and',num2,'are amicable')
else:
    print('the number ',num1,'and',num2,'are not amicable')

enter a number : 33
enter a number : 44
the number  33 and 44 are not amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
a = str(input('enter a string: '))
b = str()
for i in a:
    b = i+b
print(b)    


#a = input('enter a string: ')
#print(a[::-1])

enter a string: abcd
dcba

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
a = input('enter list of numbers ').split()
total = 0 
n = 0
for i in a :
    i =int(i)
    total +=i
    n=n+1
print('the average of numbers is ',(total/n))    


# import statictics

enter list of numbers 12345
the average of numbers is  12345.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
import math
a = float(input('enter radius of circel(cm): '))
area = math.pi*(a*a)
print('area of circle is ',area,'cm')

enter radius of circel(cm): 100
area of circle is  31415.926535897932 cm

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
p = float(input('enter a principal amount: '))
t = float(input('enter a time horizon of loan: '))
r = float(input('enter a rate of interest: '))
simple_interest = (p*r*t)/100

print( 'simple interest is ',simple_interest)

enter a principal amount: 100
enter a time horizon of loan: 2
enter a rate of interest: 15
simple interest is  30.0

<a id= "lc"> </a>
## 3. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Use list comprehension to obtain the squre root of first 10 natural numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
a = [  i**0.5 for i in range(1,11) ]
a

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
a = str((input(' Enter a sentence :  ')))
vowel = [ i for i in a if i in ['a','e','i','o','u','A','E','I','O','U']]
print(set(vowel))

 Enter a sentence :  hello, how are you
{'e', 'u', 'o', 'a'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [26]:
a = {1:['Aman',24],2:['Mohit',25],3:['Gauri',26],4:['Imran',24],5:['Roma',27]}
n_dt = { key:value for key,value in a.items() if key%2==0}
n_dt

{2: ['Mohit', 25], 4: ['Imran', 24]}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Use list comprehension to find even and odd numbers from first 20 whole numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
even_num = [i for i in range(20) if i%2==0]
odd_num = [i for i in range(20) if i%3==0]
print('even numbers ',even_num)
print('odd numbers',odd_num)

even numbers  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
odd numbers [0, 3, 6, 9, 12, 15, 18]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
a = [i for i in range(100) if i%2==0 if i%3==0]
a

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
a = [ (i,i**3) for i in range(11)]
dict(a)

{0: 0,
 1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
x = 'hello world 1223445'
num = [i for i in x if i.isdigit()]
print(num)

['1', '2', '2', '3', '4', '4', '5']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Use list comprehension to print table of 11 to 20 as shown below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [31]:
a = [[ i*y for i in range(1,11)] for y in range(11,21)]
a

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Use list comprehension to find transpose of the matrix given below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

In [9]:
m =  [(1,2),(3,4),(5,6),(7,8)]
[ [row[i] for row in m ] for i in range(2)]

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [6]:
import numpy as np
a = np.array([(1,2),(3,4),(5,6),(7,8)])
a.T

array([[1, 3, 5, 7],
       [2, 4, 6, 8]])