<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Import the required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

#### Read the data

Load the csv file and print the first five observations.

In [2]:
Diadata=pd.read_csv('diamond_data.csv')
Diadata.head()

   carat      cut color  depth  table  price     x     y     z
0   0.30     Good     F   61.1   61.0    682  4.29  4.32  2.63
1   0.72    Ideal     H   62.0   56.0   2443  5.80  5.74  3.58
2   1.71  Premium     J   62.9   58.0   8848  7.64  7.58  4.79
3   1.01  Premium     E   59.2   59.0   7287  6.67  6.60  3.93
4   0.52    Ideal     D   62.7   56.0   1720  5.17  5.14  3.23

Our objective is to predict the price of the diamond.

**The data definition is as follows:** <br>

**carat**: Weight of the diamond

**cut**: Quality of the cut (Fair, Good, Very Good, Premium, Ideal)

**color**: Diamond color

**depth**: Total depth percentage (it is calculated as: 2 * z / (x + y))

**table**: Width of top of the diamond relative to the widest point 

**price**: Price of a diamond in US dollars (target/dependent variable)

**x**: Length of a diamond in mm

**y**: Width of a diamond in mm

**z**: Depth of a diamond in mm

In [41]:
X=Diadata.drop('price',axis=1)
y=Diadata['price']
Xc=sm.add_constant(X)                      #add constant

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Is the variable representing the width of a diamond skewed? If yes, apply an appropriate technique to make the distribution less skewed </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
Diadata['y'].skew()

0.4383878452014628

As the skewness is within the range of -0.5 to 0.5 we need not transform the data,if needed we can apply squareroot or log to the column.

In [12]:
#apply log transformation,sqrt transformation
x=pd.DataFrame(Diadata['y'].apply(lambda x: np.sqrt(x)))
x.skew()

y    0.291581
dtype: float64

In [14]:
x=pd.DataFrame(Diadata['y'].apply(lambda x: np.log(x)))
x.skew()

y    0.153226
dtype: float64

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Build a full model and check whether the errors have a serial correlation or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

#apply get_dummies(cut,color)
#apply OLS/ to all variables 
-----------------------------------
#The presence of serial correlation can be detected 
#by the Durbin-Watson test and by plotting the residuals against their lags

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Add the features one-by-one to obtain the set of features which explains the price of a diamond with the highest accuracy
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
Diadata.columns

Index(['carat', 'cut', 'color', 'depth', 'table', 'price', 'x', 'y', 'z'], dtype='object')

In [6]:
x=Diadata.drop('price',axis=1)
X=pd.get_dummies(x,drop_first=True)
y=Diadata['price']
Xc=sm.add_constant(X)

In [4]:
#forward selection
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

In [8]:
from sklearn.linear_model import LinearRegression
clf=LinearRegression()
sfs1=sfs(clf,k_features=8,forward=True,scoring='r2',cv=5,verbose=2)
sfs1.fit(Xc,y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:    1.3s finished

[2021-01-03 11:41:56] Features: 1/8 -- score: 0.8611859711618426[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:    0.2s finished

[2021-01-03 11:41:57] Features: 2/8 -- score: 0.8701992571397323[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:    0.2s finished

[2021-01-03 11:41:57] Features: 3/8 -- score: 0.8777650727854528[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:    0.1s finished

[2021-01-03 11:41:57] Features: 4/8 -- score: 0.8806158764516034[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:    0.1s finished

[2021-01-03 11:41:57] Features: 5/8 -- score: 0.8832318821671485[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:    0.1s finished

[2021-01-03 11:41:57] Features: 6/8 -- score: 0.8858308155967378[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:    0.1s finished

[2021-01-03 11:41:58] Features: 7/8 -- score: 0.886088022172429[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

[2021-01-03 11:41:58] Features: 8/8 -- score: 0.8866646718004951

SequentialFeatureSelector(clone_estimator=True, cv=5,
                          estimator=LinearRegression(copy_X=True,
                                                     fit_intercept=True,
                                                     n_jobs=None,
                                                     normalize=False),
                          fixed_features=None, floating=False, forward=True,
                          k_features=8, n_jobs=1, pre_dispatch='2*n_jobs',
                          scoring='r2', verbose=2)

In [10]:
pd.DataFrame(sfs1.subsets_).T

,feature_idx,cv_scores,avg_score,feature_names
1,"(1,)","[0.8762829949804581, 0.8669378259743176, 0.855...",0.861186,"(carat,)"
2,"(1, 6)","[0.8834118629620207, 0.8802461032547032, 0.868...",0.870199,"(carat, z)"
3,"(1, 6, 16)","[0.8913075810938818, 0.886325436421043, 0.8742...",0.877765,"(carat, z, color_J)"
4,"(1, 6, 15, 16)","[0.8871631778975615, 0.8903240744152804, 0.880...",0.880616,"(carat, z, color_I, color_J)"
5,"(1, 3, 6, 15, 16)","[0.887584253676217, 0.891817328785208, 0.88563...",0.883232,"(carat, table, z, color_I, color_J)"
6,"(1, 3, 6, 14, 15, 16)","[0.8911045141725182, 0.8907896057845884, 0.889...",0.885831,"(carat, table, z, color_H, color_I, color_J)"
7,"(1, 3, 6, 8, 14, 15, 16)","[0.8911153033743006, 0.8918738122339652, 0.889...",0.886088,"(carat, table, z, cut_Ideal, color_H, color_I,..."
8,"(1, 3, 4, 6, 8, 14, 15, 16)","[0.8921105651697746, 0.8926103827717617, 0.890...",0.886665,"(carat, table, x, z, cut_Ideal, color_H, color..."

In [ ]:
 features-R2-.886

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use the 4-fold cross validation method and compute the coefficient of determination for each model
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
#kfold=4
#CV
#coefficient of determination=R2

In [11]:
from sklearn.model_selection import cross_val_score
lr=LinearRegression()
cvscore=cross_val_score(lr,Xc,y,cv=4,scoring='r2')

In [14]:
from sklearn.model_selection import cross_val_score,KFold
kfold=KFold(n_splits=4,shuffle=True,random_state=5)
Cv1=cross_val_score(lr,Xc,y,cv=kfold,scoring='r2')

In [12]:
cvscore # by directly giving noofsplits

array([0.87701916, 0.90466516, 0.8953416 , 0.86677039])

In [15]:
Cv1 # by using KFold in Crossvalidation

array([0.89854273, 0.88980734, 0.90174939, 0.8565487 ])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Identify the most insignificant numerical variable among all the numeric variables in the data
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
#check for low p-value among Numeric variables after OLS/LR model application
# or after RFE,variable having highest rank

In [23]:
Diadata.columns

Index(['carat', 'cut', 'color', 'depth', 'table', 'price', 'x', 'y', 'z'], dtype='object')

In [25]:
x=Diadata.drop(['price','color','cut'],axis=1)
y=Diadata['price']
Xc=sm.add_constant(x)

In [28]:
from sklearn.feature_selection import RFE
rfe=RFE(lr,n_features_to_select=1,verbose=3)
rfe.fit(Xc,y)

Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 5 features.
Fitting estimator with 4 features.
Fitting estimator with 3 features.
Fitting estimator with 2 features.

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=1, step=1, verbose=3)

In [29]:
pd.DataFrame(rfe.ranking_, index=Xc.columns, columns=['rank']).sort_values(by='rank')

       rank
carat     1
x         2
y         3
z         4
depth     5
table     6
const     7

Table is the most insignificant numerical variable as it gets the higher rank in RFE

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Do the residuals obtained from the full model follow a normal distribution?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
# Checking for regression Assumptions 
from scipy import stats
#H0: Data is normal
#H1: Data is not normal

In [31]:
x=Diadata.drop('price',axis=1)
X=pd.get_dummies(x,drop_first=True)
y=Diadata['price']
Xc=sm.add_constant(X)
model=sm.OLS(y,Xc).fit()
from scipy import stats
print(stats.jarque_bera(model.resid))

(5833.995315162985, 0.0)

Ho<0.05 we reject Ho i.e residuals are not normal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Is it possible to make the residuals normal? If yes, do the needful
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [37]:
# Transform data 
Dia_l=Diadata.drop(['cut','color'],axis=1).transform(lambda x: np.log(x))
Dia_sr=Diadata.drop(['cut','color'],axis=1).transform(lambda x: np.sqrt(x))

In [38]:
x=Dia_l.drop('price',axis=1)
X=pd.get_dummies(x,drop_first=True)
y=Dia_l['price']
Xc=sm.add_constant(X)
model=sm.OLS(y,Xc).fit()
from scipy import stats
print(stats.jarque_bera(model.resid))

(32.14445809182121, 1.0469347455632771e-07)

In [39]:
x=Dia_sr.drop('price',axis=1)
X=pd.get_dummies(x,drop_first=True)
y=Dia_sr['price']
Xc=sm.add_constant(X)
model=sm.OLS(y,Xc).fit()
from scipy import stats
print(stats.jarque_bera(model.resid))

(1675.1506315484985, 0.0)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Consider the full model and remove the variables one-by-one to obtain the set of seven most significant variables
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# Apply RFE 
# no_of_features_to_select=7

In [51]:
x=Diadata.drop('price',axis=1)
X=pd.get_dummies(x,drop_first=True)
y=Diadata['price']
Xc=sm.add_constant(X)

In [45]:
from sklearn.feature_selection import RFE
rfe=RFE(lr,n_features_to_select=7,verbose=3)
rfe.fit(Xc,y)

Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=7, step=1, verbose=3)

In [46]:
pd.DataFrame(rfe.ranking_, index=Xc.columns, columns=['rank']).sort_values(by='rank')

               rank
color_J           1
carat             1
color_H           1
color_I           1
x                 1
y                 1
z                 1
cut_Ideal         2
cut_Very Good     3
cut_Premium       4
cut_Good          5
depth             6
color_F           7
color_G           8
table             9
color_E          10
const            11

color_J,carat,color_H,color_I,x,y,z are 7 most significant variables

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Identify the colors of a diamond that are not significant while predicting the price?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
x=Diadata[['color']]
X=pd.get_dummies(x,drop_first=True)
y=Diadata['price']
Xc=sm.add_constant(X)

In [49]:
from sklearn.feature_selection import RFE
rfe=RFE(lr,n_features_to_select=3,verbose=3)
rfe.fit(Xc,y)

Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 5 features.
Fitting estimator with 4 features.

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=3, step=1, verbose=3)

In [50]:
pd.DataFrame(rfe.ranking_, index=Xc.columns, columns=['rank']).sort_values(by='rank')

         rank
color_H     1
color_I     1
color_J     1
color_E     2
color_G     3
color_F     4
const       5

In [1]:
color-F,G,E are less significant compared to H,I,J according to the Rfe model

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Build a regression model on the five features obtained by eliminating the features recursively 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [52]:
# no_of_features _to_select = 5
rfe=RFE(lr,n_features_to_select=5,verbose=3)
rfe.fit(Xc,y)

Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=5, step=1, verbose=3)

In [54]:
pd.DataFrame(rfe.ranking_,index=Xc.columns,columns=['rank']).sort_values(by='rank')

               rank
color_J           1
carat             1
x                 1
y                 1
z                 1
color_I           2
color_H           3
cut_Ideal         4
cut_Very Good     5
cut_Premium       6
cut_Good          7
depth             8
color_F           9
color_G          10
table            11
color_E          12
const            13

In [ ]:
color_j,carat,x,y,z are 5 important features